#catalog_menu {
    display: none;
}
.no-scroll {
    overflow: hidden;
}
.catalog_container {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: #fff;
    left: 0;
    top: 250px;
    z-index: 1000;

}
.catalog_column {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-count: 3;
    column-gap: 20px;
    column-width: 150px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}
.catalog_column > div {
    padding: 5px;
}

.catalog_container {
    display: flex;
}
.menu {
    flex-basis: 30%;
}
.column_container {
    flex-basis: 70%;
}

.menu > div {
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

.catalog_open {
    display: inline-block;
    width: 200px;
}
